<!-- Melpomene comic reader -->
<!-- CC-BY-NC-SA https://git.aribaud.net/caribaud/melpomene/ -->
<div id="reader-frame">
    <div id="reader-content-frame">
        <!-- replace all 'xxxx' with the actual value -->
        <div id="reader-pages" class="animated" data-pages-width="xxxx" data-pages-height="xxxx" hidden>
            <img loading="lazy" src="xxxx" data-zooms="xxxx"/>
            <!-- duplicate img for each comic page -->
        </div>
        <div id="focus-overlay" class="flex-col fill">
            <div class="grow obscured animated"></div>
            <div id="focus-overlay-height" class="flex animated" style="height:100%">
                <div class="grow obscured animated"></div>
                <div id="focus-overlay-width" class="focus animated" style="width:100%"></div>
                <div class="grow obscured animated"></div>
            </div>
            <div class="grow obscured animated"></div>
        </div>
        <div id="nav-controls" class="fill">
            <div class="left" id="nav-left" onclick="moveReader(false,false)"></div>
            <div class="right" id="nav-right" onclick="moveReader(true,false)"></div>
        </div>
        <div id="help-menu">
            <div id="help-controls" style="opacity:1; transform: translate(0,0);">
                <div><div class="key">&larr;</div>/ scroll up / clic : previous</div>
                <div><div class="key">&rarr;</div>/ scroll down / clic  : next</div>
                <div>-----------------------</div>
                <div><div class="key">F</div>: Toggle fullscreen</div>
                <div><div class="key">P</div>: Toggle progress bar</div>
                <div><div class="key">V</div>: Toggle panel / page viewing mode</div>
            </div>
        </div>
    </div>
    <div id="reader-progress-container">
        <div id="reader-progress-bar"></div>
        <div id="reader-progress-pages"></div>
    </div>
</div>
<!-- End of Melpomene comic reader -->
