

html, body {
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 4em;
    height: 100vh;
    background-color: whitesmoke;
}

#reader-frame {
    height: 100%;
    width: 100%;
    border: 2px solid;
    box-sizing: border-box;
    background-color: black;
}